.titulo {
    color: crimson;
    font-family: 'Indie Flower', cursive;
    font-size: 75px;
    text-align: right;
}

.section {
    align-items: center;
    display: inline-flex;
    width: 800px;
}

.container {
    border-radius: 20%;
    padding: 30px;
    width: 500px;
}

.cita {
    border-left: 3px solid #333333;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin: 0;
    padding-left: 20px;   
}

.cursiva {
    font-style: italic;
}

.link {
    display: block;
}

p {
    color: black;
    font-size: 20px;
    }

.img-container {
    display: inline-block;
    margin:0px;
    padding: 30px;
}

.img-quote {
    border-radius: 50%;
    display: block;
    height: 150px;
    width: 150px;
      }

.first{    
    background-color: rgb(151, 43, 151);
    }

.second {
    background-color: palegreen;
}

.third {
    background-color: lightslategray;
}

.fourth {
    background-color: lightcoral;
}

.fifth {
    background-color: rgb(190, 190, 119);
}

.sixth {
    background-color: peru;
}

.first .container {
    background-color: rgb(255, 193, 47);
  }

.second .container {
    background-color: greenyellow;
  }

.third .container {
    background-color: rgb(47, 231, 255);
  }

.fourth .container {
    background-color: rgb(43, 151, 142);
  }

.fifth .container {
    background-color: rgb(255, 224, 47);
  }

.sixth .container {
    background-color: rgb(85, 110, 48);
  }